html,body{
	border: 0;
	padding: 0;
	margin: 0;
	width: 100%;
    background: #f8f9fc;
}

.header{
    height: 70px;
    background: #f8f9fc;
    position: fixed;
	top: 0;
	left: 0;
	right: 0;
    z-index: 9999;
}

.header h1{
    color: #4e73df;
    position: absolute;
    top: 15px;
    left: 120px;
    font-size: 35px;
    font-family: 'Courier New', Courier, monospace;
}

.header .hotel{
    padding-left: 50px;
}


.header li{
    list-style-type: none;
    display: inline-block;
}

.header a{
    text-decoration-line: none;
    display: inline-block;
    color: #4e73df;
    text-align: center;
    padding-top: 2px;
    width: 60px;
    height: 30px;
}

.header a:hover{
    border: 1px solid #4e73df;
    background-color: #4e73df;
    color: white;
    border-radius: 5px;
    text-decoration-line: none;
    width: 60px;
    height: 30px;
}

.header .fasilitas{
    position: absolute;
    right: 80px;
    top: 32px;
}

.header .kamar{
    position: absolute;
    right: 160px;
    top: 32px;
}

.header .home{
    position: absolute;
    right: 240px;
    top: 32px;
    border: 1px solid #4e73df;
    background-color: #4e73df;
    color: white;
    border-radius: 5px;
}

.header .judul{
    text-align: center;
    margin-top: -30px;
    color: #4e73df;
    font-size: 20px;
}

.header .judul a{
    text-decoration-line: none;
    display: inline-block;
    color: #4e73df;
    text-align: center;
    padding-top: 2px;
    width: 60px;
    height: 30px;
}

.header .judul a:hover{
    border: 1px solid #4e73df;
    background-color: #4e73df;
    color: white;
    border-radius: 5px;
    text-decoration-line: none;
    width: 60px;
    height: 30px;
}

.header .identitas{
    position: absolute;
    top: 8px;
    right: 10px;
}

.header .identitas li{
    list-style-type: none;
    display: inline-block;
}

.header .identitas a{
    text-decoration-line: none;
    display: inline-block;
}


.main{
    padding: 20px 50px 0px 50px;
    background-color: #f8f9fc;
}

.muka{
    padding-top: 50px;
    background-color: #f8f9fc;
}

.muka img{
    width: 750px;
    margin-top: 50px;
    height: 300px;
}
.side{
    float: left;
    height: 100px;
    width: 840px;
    text-align: justify;
    padding-left: 100px;
}


.bar{
    float: right;
    width: 300px;
    padding: 40px 0px 0px 50px;
}

.bar a{
    font-size: 20px;
}

